@using SSHConnectCore.Models.BackupDetails;
@model List<BackupDetail>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>File System Type</th>
            <th>Backup Directory</th>
            <th>Base Directory</th>
            <th>Name</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detail in Model)
        {
            <tr>
                <td>
                    @if (detail.BackupDetailsCreated)
                    {
                        <a asp-area="" asp-controller="Backup" asp-action="NewEdit" asp-route-id="@detail.ID" data-toggle="tooltip" title="Edit">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Backup" asp-action="NewEdit" data-toggle="tooltip" title="New"
                           asp-route-filesystemtype="@detail.FileSystemType"
                           asp-route-backupdirectory="@detail.BackupDirectory"
                           asp-route-actualname="@detail.ActualName">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    }
                </td>
                <td>
                    @if (detail.BackupDetailsCreated)
                    {
                        <a asp-area="" asp-controller="Backup" asp-action="Delete" asp-route-id="@detail.ID" data-toggle="tooltip" title="Delete">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    }
                </td>
                <td>
                    @if (detail.BackupDetailsCreated)
                    {
                        <a class="download-a" asp-controller="Backup" asp-action="Download" asp-route-id="@detail.ID" data-toggle="tooltip" title="Download">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </a>
                    }
                </td>
                <td>
                    @if (detail.BackupDetailsCreated)
                    {
                        <a class="upload-a" asp-controller="Backup" asp-action="Upload" asp-route-id="@detail.ID" data-toggle="tooltip" title="Upload">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                        </a>
                    }
                </td>
                <td>
                    @if (detail.BackupDetailsCreated && detail.IsFile)
                    {
                        <a asp-controller="Backup" asp-action="Exists" asp-route-id="@detail.ID" data-toggle="tooltip" title="Check if Exists">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </a>
                    }
                </td>
                <td>
                    @if (detail.BackupDetailsCreated && detail.IsFile)
                    {
                        <a asp-controller="Backup" asp-action="Diff" asp-route-id="@detail.ID" data-toggle="tooltip" title="View Differences">
                            <i class="fa fa-files-o" aria-hidden="true"></i>
                        </a>
                    }
                </td>
                <td>@detail.FileSystemType</td>
                <td>@detail.BackupDirectory</td>
                <td>@detail.BaseDirectory</td>
                <td>@detail.ActualName</td>
                <td>
                    @if (detail.BackedUp)
                    {
                        <i class="fa fa-check" aria-hidden="true" data-toggle="tooltip" title="Backed Up"></i>
                    }
                </td>
                <td>
                    @if (detail.BackupDetailsCreated && detail.IsFile)
                    { 
                        if (detail.ExistsOnRemote)
                        {
                            <i class="fa fa-file" aria-hidden="true" data-toggle="tooltip" title="Exists on Remote Server"></i>
                        }
                        else
                        {
                            <i class="fa fa-file-o" aria-hidden="true" data-toggle="tooltip" title="Does not exist on Remote Server"></i>
                        }
                    }
                </td>
                <td>
                    @if (detail.BackupDetailsCreated && detail.IsFile && detail.HasCheckSums)
                    { 
                        if (detail.SameCheckSum)
                        {
                            <i class="fa fa-file-text" aria-hidden="true" data-toggle="tooltip" title="MD5 matches with Remote Server"></i>
                        }
                        else
                        {
                            <i class="fa fa-file-text-o" aria-hidden="true" data-toggle="tooltip" title="MD5 does not match Remote Server"></i>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>