@using SSHConnectCore.Models.BackupDetails;
@{
    ViewData["Title"] = "Backup";
}

<div class="container-fluid">

    <h1 class="page-header">Backup</h1>

    <div id="messages-div">@Html.Partial("MessagesPartial")</div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>File System Type</th>
                    <th>Backup Directory</th>
                    <th>Base Directory</th>
                    <th>Name</th>
                    <th>Backed Up</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detail in (List<BackupDetail>)ViewBag.backupDetails)
                {
                    <tr>
                        <td>
                            @if (!string.IsNullOrWhiteSpace(detail.BaseDirectory))
                            {
                                <a asp-area="" asp-controller="Backup" asp-action="NewEdit"
                                   asp-route-savedname="@detail.SavedName"
                                   asp-route-filesystemtype="@detail.FileSystemType">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                            }
                            else
                            {
                                <a asp-area="" asp-controller="Backup" asp-action="NewEdit"
                                   asp-route-filesystemtype="@detail.FileSystemType"
                                   asp-route-backupdirectory="@detail.BackupDirectory"
                                   asp-route-actualname="@detail.ActualName">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </a>
                            }
                        </td>
                        <td>
                            @if (!string.IsNullOrWhiteSpace(detail.BaseDirectory))
                            {
                                <a asp-area="" asp-controller="Backup" asp-action="Delete"
                                   asp-route-savedname="@detail.SavedName"
                                   asp-route-filesystemtype="@detail.FileSystemType">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            }
                        </td>
                        <td>
                            @if (!string.IsNullOrWhiteSpace(detail.BaseDirectory))
                            {
                                <a asp-area="" asp-controller="Backup" asp-action="Dowload"
                                   asp-route-savedname="@detail.SavedName"
                                   asp-route-filesystemtype="@detail.FileSystemType">
                                    <i class="fa fa-download" aria-hidden="true"></i>
                                </a>
                            }
                        </td>
                        <td>@detail.FileSystemType</td>
                        <td>@detail.BackupDirectory</td>
                        <td>@detail.BaseDirectory</td>
                        <td>@detail.ActualName</td>
                        <td>@detail.BackedUp</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>