@using SSHConnectCore.Models.BackupDetails;
@model BackupDetail
@{
    ViewData["Title"] = "Backup";
}

<div class="container-fluid">

    <h1 class="page-header">@ViewBag.PageType</h1>

    <form asp-controller="Backup" asp-action="NewEdit" method="post">
        @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })

        @*Type:  <input asp-for="Type" /> <br />*@
        <div class="form-group">
            <label for="FileSystemType">File System Type</label>
            <select asp-for="FileSystemType" asp-items="Html.GetEnumSelectList<FileSystemType>()" class="form-control" readonly='@(ViewBag.PageType == "Edit")'></select>
        </div>
        <div class="form-group">
            <label for="BackupDirectory">Backup Directory</label>
            <select asp-for="BackupDirectory" asp-items="Html.GetEnumSelectList<BackupDirectory>()" class="form-control"></select>
        </div>
        <div class="form-group">
            <label for="BaseDirectory">Base Directory</label>
            <input asp-for="BaseDirectory" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="ActualName">Name</label>
            <input asp-for="ActualName" class="form-control" readonly='@(ViewBag.PageType == "Edit")'/>
            <input asp-for="SavedName" type="hidden" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <input type="button" value="Back" onclick="location.href='@Url.Action("Index", "Backup")'" class="btn btn-secondary"/>
    </form>
</div>